  3 @import "~/.cache/wal/colors-rofi-dark.rofi"
  4 * {
  5     bg0: @background;
  6     bg1: @color1;
  7     bg2: @color2;
  8     bg3: @selected-normal-background;
  9 
 10     fg0: @foreground;
 11     fg1: @foreground;
 12     fg2: @color7;
 13     fg3: @color8;
 14 }
 15 
 16 @import "template/rounded-template.rasi"