* {
    font-size: 14px;
    border-radius: 5px;
}

window#waybar {
    font-family: "JetBrainsMono Nerd Font", monospace;
    background-color: transparent;
    border-bottom: 0px;
    color: #a1c2e1; /* texto claro */
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty #window {
    background-color: transparent;
    border: none;
}

/* Margins */
.modules-right {
    margin: 10px 10px 0 0;
}
.modules-center {
    margin: 10px 0 0 0;
}
.modules-left {
    margin: 10px 0 0 10px;
}

button {
    border: none;
}

/* --- WORKSPACES --- */
#workspaces {
    background-color: #040A10;
    border: 2px solid #225DB1;
}
#workspaces button {
    all: unset;
    padding: 0px 5px;
    color: #a1c2e1;
    transition: all .2s ease;
}
#workspaces button:hover {
    color: #3D83CB;
    text-shadow: 0px 0px 2px rgba(161, 194, 225, 0.4);
}
#workspaces button.active {
    color: #a1c2e1;
    text-shadow: 0px 0px 3px rgba(50, 118, 197, 0.8);
}
#workspaces button.empty {
    color: #70879d;
}
#workspaces button.empty:hover {
    color: #4875AB;
    text-shadow: 0px 0px 2px rgba(161, 194, 225, 0.4);
}
#workspaces button.empty.active {
    color: #a1c2e1;
}

/* --- MODULOS GENERALES --- */

#network,
#idle_inhibitor,
#cava,
#scratchpad,
#mode,
#window,
#clock,
#battery,
#backlight,
#pulseaudio,
#tray,
#mpris,
#load {
    border: 2px solid #225DB1;
    padding: 0 10px;
    background-color: #040A10;
    color: #a1c2e1;
}

#custom-weather{
    color: #a1c2e1;
}

#custom-weather:hover{
    font-size: 15px;
    transition: all 1s ease-in;
}

/* --- MODE --- */
#mode {
    background-color: #225DB1;
    color: #040A10;
}

/* removes margin if workspaces is first/last */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#cava {
    padding: 0 5px;
}

/* --- BATTERY --- */
#battery.charging, #battery.plugged {
    background-color: #3276C5;
    color: #040A10;
}

#battery.critical {
    background-color: #FF0000;
    color: #040A10;
}

@keyframes blink {
    to {
        background-color: #040A10;
        color: #a1c2e1;
    }
}

label:focus {
    background-color: #040A10;
}

/* --- AUDIO --- */
#pulseaudio.muted {
    background-color: #040A10;
    color: #70879d;
}

/* --- TRAY --- */
#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

/* --- MPRIS --- */
#mpris.playing {
    padding: 0 10px;
    background-color: #040A10;
    color: #a1c2e1;
    font-style: italic;
}

#tray menu {
    font-family: sans-serif;
}

#scratchpad.empty {
    background: transparent;
}
